[Unit]
Description=Route to OpenVPN network
After=network.target
StartLimitBurst=150
StartLimitIntervalSec=300

[Service]
Type=oneshot
ExecStart=/sbin/ip route add 10.8.0.0/24 via 10.0.0.1
ExecStop=/sbin/ip route del 10.8.0.0/24 via 10.0.0.1
RemainAfterExit=yes
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

